.logo-container .logo { max-width:150px; }
.page-header .user_area i { font-size:24px; }
.user_area { padding:0px 25px 0px 0px; }
.block-search .block-content .form.minisearch .action.search:before, .header-minimal-search i { color:#009e4b; }
.block-search .block-content .form.minisearch .action.search:hover:before, .header-minimal-search i:hover { color:#009e4b; }
.header-minimal-search a.icon i:before {
  content:"\c013";
  font-family:"cleversoft";
}
.header-minimal-search, .block.block-search {
  border-top-width:1px;
  border-right-width:1px;
  border-bottom-width:1px;
  border-left-width:1px;
}
.header-minimal-search, .block.block-search { border-color:#ebebeb; }
.header-minimal-search, .block.block-search { border-style:solid; }
.header-minimal-search, .block.block-search {
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
}
.page-header .header-compare i { font-size:24px; }
.page-header .header-wishlist i { font-size:24px; }
.minicart-wrapper i, .minicart-wrapper_dropdown i { font-size:24px; }
.header-top { background:#009e4b; }
.header-top .header-panel .topbar-container p, .header-top .header-panel .topbar-container span, .header-top .header-panel .topbar-container div { color:#ffffff; }
.header_main-top { background:#ffffff; }
.header_main-bottom { background:#ffffff; }
.page-header-mobile .block-search .block-content .form.minisearch .action.search:before, .page-header-mobile .header-minimal-search a.icon i { font-size:24px; }
.page-header-mobile .minicart-wrapper i, .page-header-mobile .minicart-wrapper_dropdown i { font-size:24px; }
.header_top-mobile .header-panel .topbar-container { padding-top:10px; }
.header_top-mobile .header-panel .topbar-container { padding-bottom:10px; }
.sticky-wrapper.is-sticky .header_main-top, .sticky-wrapper.is-sticky .header_main-mobile-top { background:#ffffff; }
.sticky-wrapper.is-sticky .header_main-bottom { background:#ffffff; }
